{% extends '_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block page_content %}
  <style>
    .red {
      color: #c30;
    }
  </style>
  <section class="enter">
    <div class="uk-container" id="register_form">
      <div class="item uk-width-1-2@m uk-padding uk-margin-auto uk-box-shadow-small uk-box-shadow-hover-large">
        <div class="uk-text-center">
          <h2><%title%></h2>
        </div>
        <form action="{{request.path}}" method="post">
          <fieldset class="uk-fieldset">
            {% csrf_token %}
            {{form.non_field_errors}}
            <div class="uk-margin">
              <label> 
                <div class="uk-margin-small-bottom">{{form.phone.label}} <span>*</span></div>
                {{form.phone}}
              </label>
            </div>
            <div class="uk-margin">
              <label> 
                <div class="uk-margin-small-bottom">{{form.password1.label}} <span>*</span></div>
                {{form.password1|add_class:"uk-input"}}
              </label>
            </div>
            <div class="uk-margin">
              <label> 
                <div class="uk-margin-small-bottom">{{form.password2.label}} <span>*</span></div>
                {{form.password2|add_class:"uk-input"}}
              </label>
            </div>
            <div class="uk-margin mt">
                <label class="check">
                  {{form.agree_1|add_class:"uk-checkbox"}}
                  <span>Я согласен/на с условиями передачи информации (Договор публичной офферты)</span>
                </label>
            </div>
            <div class="uk-margin mt">
              <label class="check">
                {{form.agree_2|add_class:"uk-checkbox"}}
                <span>Я ознакомился/лась с правилами использования личного кабинета</span>
              </label>
            </div>
            <div class="uk-margin uk-text-center uk-margin-medium-top">
              <button class="uk-button uk-button-primary" ng-click="register()">Регистрация</button>
            </div>
            <div class="uk-margin uk-text-center uk-margin-medium-top">
              <a href="{% url 'login' %}" style="text-decoration: underline;">Войти</a>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </section>
{% endblock %}