{% load i18n %}

<section class="pagination-banner" style="background-image: url(/static/img/jpg/bgbr.jpg);" uk-parallax="bgy: -200">
    <div class="uk-container">
        <div class="uk-text-center">
            <ul class="uk-breadcrumb uk-flex-center">
                <li><a href="{% url 'doctors' %}">{% trans 'Врачи' %}</a></li>
                <li><a href="{% url 'services' %}">{% trans 'Услгуи' %}</a></li>
                <li><a href="{% url 'prices' %}">{% trans 'Цены' %}</a></li>
                <li><span>{{title}}</span></li>
            </ul>
            <h1>{{title}}</h1>
        </div>
    </div>
</section>