{% extends '_base.html' %}
{% load static i18n %}
{% block page_content %}
  <section class="personal-area">
    <div class="uk-container">
      <div class="uk-grid uk-grid" uk-grid="">
        {% include "includes/_menu.html" %}
        <div class="uk-width-expand@m">
          <div class="check-in">
            <div class="step-1">
              <div class="uk-padding search-block uk-margin-medium bg-gray">
                <h4>{% trans 'Запись к врачу' %}</h4>
                <select class="form-search-doctors uk-width-1-1" placeholder="{% trans 'Введите фамилия и имя врача' %}">
                  <option value=""></option>
                  <option value="директор">директор</option>
                  <option value="директор2">директор2</option>
                  <option value="директор3">директор3</option>
                  <option value="директор4">директор4</option>
                </select>
              </div>
              <div class="uk-padding list-block uk-margin-medium bg-gray">
                <h4>{% trans 'Запись по отраслям медецины' %}</h4>
                <div class="uk-grid uk-grid-divider" uk-grid="">
                  <div class="uk-width-auto@s"><b>а</b></div>
                  <div class="uk-width-expand@s">
                    <ul class="uk-list">
                      <li> 
                        <ul class="uk-margin-remove" uk-accordion="">
                          <li><a class="uk-accordion-title" href="#">Аллергология</a>
                            <div class="uk-accordion-content">
                              <div class="uk-margin-small"><a href="">Сыдыкова Мира Сынташева</a></div>
                              <div class="uk-margin-small"><a href="">Сыдыкова Мира Сынташева</a></div>
                              <div class="uk-margin-small"><a href="">Сыдыкова Мира Сынташева</a></div>
                            </div>
                          </li>
                          <li><a class="uk-accordion-title" href="#">Анестезиология-реаниматология</a>
                            <div class="uk-accordion-content">
                              <div class="uk-margin-small"><a href="">Сыдыкова Мира Сынташева</a></div>
                              <div class="uk-margin-small"><a href="">Сыдыкова Мира Сынташева</a></div>
                              <div class="uk-margin-small"><a href="">Сыдыкова Мира Сынташева</a></div>
                            </div>
                          </li>
                          <li><a class="uk-accordion-title" href="#">Аллергология</a>
                            <div class="uk-accordion-content">
                              <div class="uk-margin-small"><a href="">Сыдыкова Мира Сынташева</a></div>
                              <div class="uk-margin-small"><a href="">Сыдыкова Мира Сынташева</a></div>
                              <div class="uk-margin-small"><a href="">Сыдыкова Мира Сынташева</a></div>
                            </div>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="uk-grid uk-grid-divider" uk-grid="">
                  <div class="uk-width-auto@s"><b>Б</b></div>
                  <div class="uk-width-expand@s">
                    <ul class="uk-list">
                      <li> 
                        <ul class="uk-margin-remove" uk-accordion="">
                          <li><a class="uk-accordion-title" href="#">Аллергология</a>
                            <div class="uk-accordion-content">
                              <div class="uk-margin-small"><a href="">Сыдыкова Мира Сынташева</a></div>
                              <div class="uk-margin-small"><a href="">Сыдыкова Мира Сынташева</a></div>
                              <div class="uk-margin-small"><a href="">Сыдыкова Мира Сынташева</a></div>
                            </div>
                          </li>
                          <li><a class="uk-accordion-title" href="#">Аллергология</a>
                            <div class="uk-accordion-content">
                              <div class="uk-margin-small"><a href="">Сыдыкова Мира Сынташева</a></div>
                              <div class="uk-margin-small"><a href="">Сыдыкова Мира Сынташева</a></div>
                              <div class="uk-margin-small"><a href="">Сыдыкова Мира Сынташева</a></div>
                            </div>
                          </li>
                          <li><a class="uk-accordion-title" href="#">Аллергология</a>
                            <div class="uk-accordion-content">
                              <div class="uk-margin-small"><a href="">Сыдыкова Мира Сынташева</a></div>
                              <div class="uk-margin-small"><a href="">Сыдыкова Мира Сынташева</a></div>
                              <div class="uk-margin-small"><a href="">Сыдыкова Мира Сынташева</a></div>
                            </div>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="uk-placeholder uk-text-center uk-margin-medium">
                <a class="uk-button uk-button-default" href="">Далее</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}