{% load static %}
<!DOCTYPE html>
<html lang="ru" ng-app="prime.clinic" ng-csp="no-unsafe-eval | no-inline-style" ng-cloak>
  <head>
    {% include "includes/_head.html" %}
  </head>
  <body>
    <div class="uk-offcanvas-content">
      
      {% include "includes/_tiny_header.html" %}

      {% include "includes/_header.html" %}

      {% block page_content %}{% endblock %}

      {% include "includes/_footer.html" %}

    </div>

    <script src="{% static 'js/libs.min.js' %}"></script>
    <script src="{% static 'js/common.min.js' %}"></script>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'bower_components/angular/angular.min.js %}"></script>
    <script src="{% static 'bower_components/angular-route/angular-route.min.js %}"></script>
    <script src="{% static 'bower_components/angular-resource/angular-resource.min.js %}"></script>
    <script src="{% static 'bower_components/moment/moment.js %}"></script>
    <script src="{% static 'bower_components/angular-moment/angular-moment.js %}"></script>
    <script src="{% static 'bower_components/moment-timezone/builds/moment-timezone.min.js %}"></script>
    <script src="{% static 'bower_components/moment-timezone/builds/moment-timezone-with-data.min.js %}"></script>
    <script src="{% static 'bower_components/moment-timezone/moment-timezone-utils.js %}"></script>
    <script src="{% static 'bower_components/moment/locale/ru.js %}"></script>
    <script src="{% static 'bower_components/ng-confirm/dist/ng-confirm.min.js %}"></script>
    <script src="{% static 'js/angular/app.js' %}"></script>

    <!-- get included before fullcalendar -->
    <script type="text/javascript" src="{% static 'bower_components/angular-ui-calendar/src/calendar.js %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/fullcalendar/dist/fullcalendar.min.js %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/fullcalendar/dist/gcal.js %}"></script>

    {% block tail_js %}{% endblock %}

  </body>
</html>