{% extends '_base.html' %}
{% load static i18n %}
{% block page_content %}
  {% include "includes/_top_with_title.html" %}
  <section class="faq">
    <div class="uk-container">
      <ul uk-accordion="">
        <li class="uk-open"><a class="uk-accordion-title" href="#">{% trans 'Кто мы такие?' %}</a>
          <div class="uk-accordion-content">
            <p>
              Согласно исследованиям, в 80% случаев нахождение больного и врача в одном помещении необязательно. 
              Современные технологии позволяют организовать полноценный диалог между врачом и пациентом, установить
              визуальный контакт посредством видео связи. Результаты анализов и медицинских исследований могут быть
              переданы в электронном формате. Конечно, ничто не может заменить личного осмотра, и принимать серьезные
              медицинские решения следует только после личной встречи с врачом. Онлайн консультация отлично подходит для 
              получения альтернативного мнения врача, для интерпретации анализов, для первичного знакомства с врачом, а также
              для консультации по ряду заболеваний, которые не требуют личного осмотра.
            </p>
          </div>
        </li>
        <li><a class="uk-accordion-title" href="#">{% trans 'Кто мы такие?' %}</a>
          <div class="uk-accordion-content">
            <p>
              Согласно исследованиям, в 80% случаев нахождение больного и врача в одном помещении необязательно. 
              Современные технологии позволяют организовать полноценный диалог между врачом и пациентом, установить
              визуальный контакт посредством видео связи. Результаты анализов и медицинских исследований могут быть
              переданы в электронном формате. Конечно, ничто не может заменить личного осмотра, и принимать серьезные
              медицинские решения следует только после личной встречи с врачом. Онлайн консультация отлично подходит для 
              получения альтернативного мнения врача, для интерпретации анализов, для первичного знакомства с врачом, а также
              для консультации по ряду заболеваний, которые не требуют личного осмотра.
            </p>
          </div>
        </li>
        <li><a class="uk-accordion-title" href="#">{% trans 'Может ли врач сделать мне бесплатный осмотр?' %}</a>
          <div class="uk-accordion-content">
            <p>
              Согласно исследованиям, в 80% случаев нахождение больного и врача в одном помещении необязательно. 
              Современные технологии позволяют организовать полноценный диалог между врачом и пациентом, установить
              визуальный контакт посредством видео связи. Результаты анализов и медицинских исследований могут быть
              переданы в электронном формате. Конечно, ничто не может заменить личного осмотра, и принимать серьезные
              медицинские решения следует только после личной встречи с врачом. Онлайн консультация отлично подходит для 
              получения альтернативного мнения врача, для интерпретации анализов, для первичного знакомства с врачом, а также
              для консультации по ряду заболеваний, которые не требуют личного осмотра.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </section>
{% endblock %}