{% extends '_base.html' %}
{% load static i18n %}
{% block page_content %}
  {% include "includes/_top_with_title.html" %}
  <section class="price-block">
    <div class="uk-container">
      <div class="uk-grid" uk-grid="">
        <div class="uk-width-1-4@l uk-width-1-3@m">
          <div class="item">
            <div class="other-services">
              <h4>{% trans 'Цены по другим направлениям' %}</h4>
              <ul>
                <li class="uk-active"><a>{% trans 'Лечение' %}</a></li>
                <li> <a>{% trans 'Лечение детей' %}</a></li>
                <li> <a>{% trans 'Диагностика' %}</a></li>
                <li> <a>{% trans 'Косметология' %}</a></li>
                <li> <a>{% trans 'Хирургия' %}</a></li>
                <li> <a>{% trans 'Стационар' %}</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="uk-width-expand@m ">
          <div class="item top-block uk-flex uk-flex-between@s uk-flex-column@m">
            <div>
              <h4>{% trans 'наши цены' %}</h4>
            </div>
            <div class="excel"><a href="">{% trans 'Скачать прайслист' %}</a></div>
          </div>
          <div class="placeholder">
            <p>Администрация клиники принимает все меры по своевременному обновлению размещенного на сайте прайс-листа, однако во избежание возможных недоразумений, просьба уточнять стоимость услуг у администратора по тел +996 (700) 400-500. Размещенный прайс не является офертой.</p>
          </div>
          <div class="price-block-table">
            <div class="uk-overflow-auto">
              <table class="uk-table uk-table-divider uk-table-striped">
                <thead>
                  <tr>
                    <th class="uk-table-small">№ {% trans 'п/п' %}</th>
                    <th class="uk-table-expand">{% trans 'Услуга' %}</th>
                    <th class="uk-width-medium uk-text-center">{% trans 'Стоимость (сом.)' %}</th>
                    <th class="uk-width-small uk-text-center">{% trans 'Длительность' %}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="uk-text-center">1</td>
                    <td>Прием доктора медицинских наук</td>
                    <td class="uk-text-center">800</td>
                    <td class="uk-text-center">800 мин</td>
                  </tr>
                  <tr>
                    <td class="uk-text-center">2</td>
                    <td>Прием первичный</td>
                    <td class="uk-text-center">800</td>
                    <td class="uk-text-center">80 мин</td>
                  </tr>
                  <tr>
                    <td class="uk-text-center">3</td>
                    <td>Прием первичный</td>
                    <td class="uk-text-center">800</td>
                    <td class="uk-text-center">80 мин</td>
                  </tr>
                </tbody>
              </table>
              <div class="uk-text-center counter-day">{% trans 'Второй день' %}</div>
              <table class="uk-table uk-table-divider uk-table-striped">
                <tbody>
                  <tr>
                    <td class="uk-text-center">1</td>
                    <td>Прием доктора медицинских наук</td>
                    <td class="uk-text-center">800</td>
                    <td class="uk-text-center">800 мин</td>
                  </tr>
                  <tr>
                    <td class="uk-text-center">2</td>
                    <td>Прием первичный</td>
                    <td class="uk-text-center">800</td>
                    <td class="uk-text-center">80 мин</td>
                  </tr>
                  <tr>
                    <td class="uk-text-center">3</td>
                    <td>Прием первичный</td>
                    <td class="uk-text-center">800</td>
                    <td class="uk-text-center">80 мин</td>
                  </tr>
                </tbody>
              </table>
              <div class="uk-text-center counter-day">{% trans 'Второй день' %}</div>
              <table class="uk-table uk-table-divider uk-table-striped">
                <tbody>
                  <tr>
                    <td class="uk-text-center">1</td>
                    <td>Прием доктора медицинских наук</td>
                    <td class="uk-text-center">800</td>
                    <td class="uk-text-center">800 мин</td>
                  </tr>
                  <tr>
                    <td class="uk-text-center">2</td>
                    <td>Прием первичный</td>
                    <td class="uk-text-center">800</td>
                    <td class="uk-text-center">80 мин</td>
                  </tr>
                  <tr>
                    <td class="uk-text-center">3</td>
                    <td>Прием первичный</td>
                    <td class="uk-text-center">800</td>
                    <td class="uk-text-center">80 мин</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}